# https://docs.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/how-to/add-incoming-webhook
# https://docs.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/how-to/connectors-using
TEAMS_WEBHOOK=

# SMSC
# https://smsc.ru/api/
SMSC_USER_ID=
SMSC_PASSWORD=
SMSC_NUMBER=7XXXXXXXXXX

# Slack
# https://hooks.slack.com/services/
SLACK_WEBHOOK=
SLACK_TO=
SLACK_ICON=

# Telegram
TELEGRAM_WEBHOOK=
TELEGRAM_CHAT=
